APP_ENV="development"
APP_NAME="نویسا اَپ"
VITE_APP_NAME="نویسا اَپ"
APP_URL=http://localhost:5000
APP_SESSION_PASSWORD=

DATABASE_URL="postgresql://username:password@localhost:5432/nevisa_app_db"

BETTER_AUTH_BASE_URL=http://localhost:5000
BETTER_AUTH_SECRET=

REDIS_URL=redis://localhost:6379

SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_SECURE=
SMTP_USER=
SMTP_PASS=
SMTP_FROM_ADDRESS=noreply@localhost